# file to ignore
#=======================#

# file image
*.psd

# file latex
*.bib
*.aux
*.log
*.pdf
*.gz
*.toc
*.out
*.lol
*.lot
*.idx
*.ilg
*.ind
*.lof
*.bbl
*.blg

# remove format mini toc
*.maf
*.mtc*